body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #4CAF50;
    margin-top: 20px;
}

header {
    text-align: center;
}

.ui.container {
    margin-top: 50px;
}

.ui.segment {
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button.ui.primary.button {
    display: block;
    margin: 20px auto;
}
