<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <header>
            <h1 class="ui header center aligned">Quiz App</h1>
        </header>

        <div class="ui segment">
            <h2 class="ui center aligned header">Python MCQs and Quizzes</h2>
            <p>Test your knowledge in Python with our carefully curated questions.</p>
        </div>
        <form method="POST" action="submit_answers">
        <div id="quiz-section" class="ui segment">
            {%for ques in questions%}
            <h2 id="question-title" class="ui header">{{ques.question}}</h2>
            <div class="ui form">
                <div class="grouped fields">
                    {%for opt in ques.options%}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="answer_{{ ques.id }}" value="{{opt}}">
                            <label>{{opt}}</label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endfor%}
            <button id="submit-btn" class="ui button">Submit</button>
        </div>
    </form>
        <a href="{{ url_for('logout') }}" class="ui red button right floated">Logout</a>
        <a href="{{ url_for('dashboard') }}" class="ui button primary">Go to Dashboard</a>   
    </div>

</body>
</html>
